



*.suo
*.user
/TestResults
*.vspscc
*.vssscc
obj

_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*~
*.swp
*.resharper.user
*.rptproj.user
*.db
/WBV/obj/Debug/WBV.csproj.FileListAbsolute.txt
/WBV/obj/debug/WBV.dll
/WBV/obj/debug/WBV.pdb
/WBV/obj/Debug/WBV.dll
/WBV/obj/debug/WBV.pdb
/WBV/obj/debug/WBV.pdb
/WBV/obj/Debug/WBV.pdb

/WBV/obj/Debug/ResolveAssemblyReference.cache

edit